#  Лабораторна робота "Обробка табличних даних засобами бібліотеки Pandas"

__Метою__ лабораторної роботи є вивчення технологій первинного аналізу даних в середовищі бібліотеки Pandas, а саме здобуття навичок:
- працювати з даними використовуючи мову Python та пакет Pandas
- робити передобробку даних
- знаходити прості закономірності у даних

In [1]:
# підключити бібліотеки Pandas та NumPy
import pandas as pd
import numpy as np

## 1. Створення  DataFrame

__DataFrame__ — це двовимірна неоднорідна таблична структура даних із змінюваними розмірами з іменованими вісями (рядками та стовпцями)

### ПРИКЛАДИ

In [2]:
# створити DataFrame з 1 колонкою з python-списка
df = pd.DataFrame(["Петя", "Вася", "Микола"])
print(df)
print(type(df))

        0
0    Петя
1    Вася
2  Микола
<class 'pandas.core.frame.DataFrame'>

In [3]:
# створити DataFrame з np-матриці розміром 10х10 випадкових чисел
mat = np.random.randint(100, 500, (10,10), dtype="int16")
print(mat)
df = pd.DataFrame(mat)
df

[[360 155 309 331 289 320 206 443 110 188]
 [359 172 259 223 488 336 178 448 412 109]
 [101 127 240 172 299 104 104 290 315 425]
 [119 165 405 372 185 100 185 452 413 166]
 [302 319 492 127 377 117 270 478 125 291]
 [469 323 369 255 104 121 113 488 435 445]
 [349 349 126 455 426 309 116 422 143 444]
 [336 445 100 219 286 155 328 311 197 298]
 [434 358 435 477 201 323 103 400 449 249]
 [265 326 336 425 216 103 129 217 499 158]]

     0    1    2    3    4    5    6    7    8    9
0  360  155  309  331  289  320  206  443  110  188
1  359  172  259  223  488  336  178  448  412  109
2  101  127  240  172  299  104  104  290  315  425
3  119  165  405  372  185  100  185  452  413  166
4  302  319  492  127  377  117  270  478  125  291
5  469  323  369  255  104  121  113  488  435  445
6  349  349  126  455  426  309  116  422  143  444
7  336  445  100  219  286  155  328  311  197  298
8  434  358  435  477  201  323  103  400  449  249
9  265  326  336  425  216  103  129  217  499  158

In [4]:
# створити DataFrame з 2-мірного випадкового масиву з іменованими колонками
arr = np.random.random((5,3))
print(arr)
df = pd.DataFrame(arr, columns=["колонка 1", "колонка 2", "колонка 3"])
df

[[0.44086241 0.71902519 0.84331813]
 [0.24066408 0.38020941 0.65970643]
 [0.75970202 0.66701389 0.83655007]
 [0.04524041 0.20205706 0.18106538]
 [0.69651373 0.22020007 0.09390114]]

   колонка 1  колонка 2  колонка 3
0   0.440862   0.719025   0.843318
1   0.240664   0.380209   0.659706
2   0.759702   0.667014   0.836550
3   0.045240   0.202057   0.181065
4   0.696514   0.220200   0.093901

In [5]:
# створити DataFrame з python-словника в якому ключ - це ім'я, а значення - 
# це масив з 5-ти випадкових чисел з модифікованими індексами рядків
d = {"Петя": np.random.random(5),
    "Вася" : np.random.random(5),
    "Микола":np.random.random(5)
    }
pd.DataFrame(d, index=[10,20,30,40,50])

        Петя      Вася    Микола
10  0.022375  0.571003  0.168394
20  0.121832  0.808490  0.150778
30  0.347810  0.149034  0.173582
40  0.195668  0.691011  0.935191
50  0.562197  0.888972  0.223368

In [6]:
# створити dataFrame з ітеруємого об'єкта
name = ["Вася", "Петя", "Микола"]
rik = [2001, 2000, 2003]
name_rik = list(zip(name, rik))
print(name_rik)
df = pd.DataFrame(name_rik, columns=["Ім'я", "Рік народження"])
df

[('Вася', 2001), ('Петя', 2000), ('Микола', 2003)]

     Ім'я  Рік народження
0    Вася            2001
1    Петя            2000
2  Микола            2003

In [7]:
str(name_rik[0])

"('Вася', 2001)"

In [8]:
#!echo "Вася, 2001";"Петя, 2000";"Микола,2003" > file.csv
!echo Вася, 2001\nПетя, 2000,\nМикола,2003\n > file.csv
!type file.csv
# створити DataFrame з csv-файлу
df = pd.read_csv("file.csv", names=["Ім'я", "Рік народження"])

‚ бп, 2001\nЏҐвп, 2000,\nЊЁЄ®« ,2003\n

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x82 in position 0: invalid start byte

### ЗАВДАННЯ

In [ ]:
# ЗАВДАННЯ 1.1: створити датафрейм з списку 10-ти простих чисел
df1_1 = np.random.randint(0, 10, (10), dtype="int16")
pd.DataFrame(df1_1, columns=[""]).set_index("")

In [ ]:
# ЗАВДАННЯ 1.2: створити датафрейм з матриці 5х6 чисел з плаваючою точкою
df1_2 = np.random.random((5,6))
print(type(df1_2))
pd.DataFrame(df1_2)

ЗАВДАННЯ 1.3: створити  DataFrame наступного вигляду:

|ім'я | прізвище| рік народження | телефон
|:-----|:------|:-----:|:-------:
|Петро| Петров| 2000| 222-222-2222
|Іван| Іванов| 2002| 333-333-3333
|Степан| Степанов| 2001| 444-444-4444

In [ ]:
name = ["Петро", "Іван", "Степан"]
surname = ["Петров", "Іванов", "Степвнов"]
rik = [2000, 2002, 2001]
phone = ["222-222-2222", "333-333-3333", "444-444-4444"]
info = list(zip(name, surname, rik, phone))
print(info)
df1_3 = pd.DataFrame(info, columns=["ім'я", "прізвище", "рік народження", "телефон"])
df1_3

In [ ]:
# ЗАВДАННЯ 1.4: створити датафрейм з 20 перших рядків excel-файлу, 
# який розташовано за адресою: 
# https://file-examples-com.github.io/uploads/2017/02/file_example_XLS_100.xls
df1_4 = pd.read_excel("https://file-examples-com.github.io/uploads/2017/02/file_example_XLS_100.xls", nrows=20)
df1_4

## 2. Інспектування DataFrame

__Інспектування__ - це процедури вивчення внутрішньої структури даних та вмісту датафрейма

### ПРИКЛАДИ

In [ ]:
# завантаження датасету `titanic` (https://ansmirnov.ru/kaggle-titanic-dataset/)
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
titanic = pd.read_csv(url)

In [ ]:
# отримати загальну інформацію про датасет
titanic.info()

In [ ]:
# вивести перші 3 рядкі
titanic.head(3)

In [ ]:
# вивести останні 2 рядки
titanic.tail(2)

In [ ]:
# отримати імена колонок
col_names = titanic.columns
print(col_names)

In [ ]:
# вивести загальну статистику датасету - числові поля
titanic.describe()

In [ ]:
# вивести статитсику текстового поля `Sex` 
titanic['Sex'].describe()

In [ ]:
# перевірити тип колонки датасету
type(titanic['Age'])

In [ ]:
# вивести перші 10 рядків деяких колонок
cols = ["Name", "Age", "Sex"]
titanic[cols].head(10)

In [ ]:
# вивести рядки з 100 по 110
titanic[100:110]

In [ ]:
# вивести тільки чоловіків
cond = titanic["Sex"] == "male"
titanic[cond]

In [ ]:
# вивести рядки в яких пропущено значення поля `Age`
cond = titanic['Age'].isna()
titanic[cond].head(3)

In [ ]:
# вивести рядки з пасажирами вік яких з 30 до 50 років
cond = titanic['Age'].between(30, 50)
titanic[cond]

### ЗАВДАННЯ

In [ ]:
# ЗАВДАННЯ 2.1: вивести характеристики датасету `titanic`
titanic.describe()

In [ ]:
# ЗАВДАННЯ 2.2: вивести статистичні параметри полів `Age` та `Fare` датасету `titanic`
cols = ['Age', 'Fare']
titanic[cols].describe()

In [ ]:
# ЗАВДАННЯ 2.3: пірахувати кількість записів в яких заповнені усі показчики
pd.options.display.max_rows = 1000
print(len(titanic.dropna()), " - рядків без пропущених даних")
titanic.dropna()

In [ ]:
# ЗАВДАННЯ 2.4: пірахувати кількість виживших (survived=1) пасажирів жиночої статі (Sex=`female`)
print(len(titanic.loc[(titanic['Survived'] == 1) & (titanic['Sex'] == 'female')]), "- Жінки, що вижили")
titanic.loc[(titanic['Survived'] == 1) & (titanic['Sex'] == 'female')]

## 3. Перетворення датафреймів

__Перетворення__ - це сукупність операцій та методів для зміни структури та вмісту датафрейму та окремих його елементів

### ПРИКЛАДИ

In [ ]:
d = {
    "ім'я"    : ["Петя", "Вася", "Галя"],
    "вік"     : [22, 200 , 21],
    "рейтинг" : ["10", "3", "2"]
}

df = pd.DataFrame(d)
df

In [ ]:
# типи колонок та елементів в колонці
print(df["рейтинг"].dtype)
print(type(df['рейтинг']))

In [ ]:
# Перетворити тип колонки (показчика) 'рейтинг' в ціле числове
df['рейтинг'] = df['рейтинг'].astype("int8")
print(df["рейтинг"].dtype)

In [ ]:
# додати колонку "адреса"
df["адреса"] = ["Київ", "Бровари", "Фастів"]
df

In [ ]:
#  збільшити значення "рейтинг" на 3
df['рейтинг'] = df['рейтинг'] + 3
df

In [ ]:
df

In [ ]:
# виправити значення параметру 'вік' для імені 'Вася'
df.loc[1, "вік"] = 20
df

In [ ]:
# видалити колонку `вік'
df.drop(columns='вік', inplace=True)
df

In [ ]:
# вивести 5 перших рядків датафрейму
titanic.head(5)

In [ ]:
# вивести 3 випадкових рядки датафрейму
titanic.sample(3)

In [ ]:
# відсортувати dataframe `titanic` за віком пасажиров
titanic.sort_values('Age')

In [ ]:
# перейменувати значення в `Embarked` стовпчику:
# С - Cherbourg
# Q - Queenstown
# S - Southampton
titanic['Embarked'].replace({"C": "Cherbourg", "Q": "Queenstown", "S": "Southampton"},
                           inplace=True)
titanic

In [ ]:
# підрахувати кількість пасажирів 1-го класу (Pclass=1)
cond = titanic['Pclass'] == 1
kol_pass = titanic[cond]['PassengerId'].count()
kol_pass

In [ ]:
# замінити відсутні номери кают на ''
titanic.fillna({"Cabin": "***"}, inplace=True)
titanic.head(3)

In [ ]:
# видалити рядки в яких є відсутні значення 
titanic.dropna(axis=0, how='any', inplace=True)
titanic.shape

### ЗАВДАННЯ

In [ ]:
# ЗАВДАННЯ 3.1: створити датафрейм з словника d
d = {
    "ім'я"    : ["Петя", "Вася", "Галя"],
    "вік"     : [22, 200 , 21],
    "рейтинг" : ["10", "3", "2"]
}
df = pd.DataFrame(d)
df

In [ ]:
# ЗАВДАННЯ 3.2: додати до `df` стовбчик з показчиком 
# `рік завершення школи` = [2018, 2020, 200]
df['рік завершення школи'] = [2018, 2020, 200]
df

In [ ]:
# ЗАВДАННЯ 3.3: виправити 'рік завершення школи' з 200 на 2020
df.loc[1, "вік"] = 2020
df

In [ ]:
# завантаження датасету `titanic` (https://ansmirnov.ru/kaggle-titanic-dataset/)
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
titanic = pd.read_csv(url)

In [ ]:
# ЗАВДАННЯ 3.4: вивести з датасету `titanic` останні 10 записів 
titanic.tail(10)

In [ ]:
# ЗАВДАННЯ 3.5: вибрати з датасету `titanic` рядки з пасажирами чоловічої статі віком 
# від 20 до 30 років, які подорожували 2 класом
print(len(titanic.loc[(titanic['Age'].between(20, 30)) & (titanic['Sex'] == 'male') & (titanic['Pclass']== 2)]), "- Men aged 20 to 30 who traveled in 2nd class")
titanic.loc[(titanic['Age'].between(20, 30)) & (titanic['Sex'] == 'male') & (titanic['Pclass'] == 2)]

In [ ]:
# ЗАВДАННЯ 3.6: видалити з датасету `titanic` рядки з пасажирами у яких відсутня
# вартість (fare) квітка
print("Відсутнії полів вартості (fare) квитка в дата сеті немає.")
titanic.isnull().sum()

In [ ]:
# ЗАВДАННЯ 3.7: підрахувати середню вартість квитка у каютах 1-го класу
#titanic.loc[(titanic['Age'].between(20, 30)) & (titanic['Sex'] == 'male') & (titanic['Pclass'] == 2)]
avg_price = titanic.loc[titanic['Pclass'] == 1]
print(" Середня вартість квитка у каютах 1-го клас становить:\n", "%.2f" % avg_price['Fare'].mean())

## 4. Агрегація датафреймів

__Агрегація__ - це функції отримання агрегованих даних шляхом групування об'єктів датафрейма

### ПРИКЛАДИ

In [ ]:
titanic.head(3)

In [ ]:
# підрахувати середній вік пасажирів по класам кают
group_by_class = titanic.groupby(["Pclass"])
avg_age = group_by_class["Age"].mean()
print(avg_age)

In [ ]:
# підрахувати кількість чоловіків та жінок по класам кают
man_woman_count = titanic.groupby(["Pclass", "Sex"])["Sex"].count()
man_woman_count

In [ ]:
# створити таблицю в якій підраховано середню вартість білетів (Fare) в залежності
# від місця посадки (Embarked) по класам кают
tickets_cost = titanic.pivot_table(values="Fare", index="Pclass", columns="Embarked",
                   aggfunc=np.mean)
tickets_cost

### ЗАВДАННЯ

In [ ]:
# ЗАВДАННЯ 4.1: отримати відомості про максимальний вік жінок та чоловіків
max_age_female = titanic.loc[titanic['Sex'] == 'female']['Age'].max()
max_age_male = titanic.loc[titanic['Sex'] == 'male']['Age'].max()
#print(max_age_female.max())
print("Максимальний вік:\nЖіночий:\t", "%.0f" % max_age_female, "\nЧоловічий:\t", "%.0f" % max_age_male)

___ЗАВДАННЯ 4.2___

на основі даних з `titanic` побудувати таблицю наступного вигляду:

Pclass  |Male  | Female
--------|------|-------
1  | ... | ...
2  | ... | ...
3  | ... | ...

де замість `...` повинно бути кількість виживших (Survived) чоловіків та жінок відповідно

In [ ]:
surv_table = titanic.loc[titanic['Survived'] == 1]
print("Загальна кількість людей, що вижили: ",surv_table['Survived'].count(), "\nТаблиця чоловікв і жінок, що вижили:")
surv_table.pivot_table(values="Survived", index="Pclass", columns="Sex", aggfunc=np.size)